<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ListenerPro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.yuyi.listener.MyServletContext</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.yuyi.servlet.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.yuyi.listener.MyHttpsession</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>demo2</display-name>
    <servlet-name>demo2</servlet-name>
    <servlet-class>com.yuyi.servlet.demo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo2</servlet-name>
    <url-pattern>/demo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demo3</display-name>
    <servlet-name>demo3</servlet-name>
    <servlet-class>com.yuyi.servlet.demo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo3</servlet-name>
    <url-pattern>/demo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demo4</display-name>
    <servlet-name>demo4</servlet-name>
    <servlet-class>com.yuyi.servlet.demo4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo4</servlet-name>
    <url-pattern>/demo4</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.yuyi.listener.MyServletContextAttibuter</listener-class>
  </listener>
</web-app>