<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Httpservletrequest</display-name>
  <servlet>
    <description></description>
    <display-name>HeaderServlet</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.yuyi.servlet.request.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lineServlet</display-name>
    <servlet-name>lineServlet</servlet-name>
    <servlet-class>com.yuyi.servlet.request.lineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lineServlet</servlet-name>
    <url-pattern>/line</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AServlet</display-name>
    <servlet-name>AServlet</servlet-name>
    <servlet-class>com.yuyi.servlet.request.AServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AServlet</servlet-name>
    <url-pattern>/AServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BServlet</display-name>
    <servlet-name>BServlet</servlet-name>
    <servlet-class>com.yuyi.servlet.request.BServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BServlet</servlet-name>
    <url-pattern>/bservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefererServlet</display-name>
    <servlet-name>RefererServlet</servlet-name>
    <servlet-class>com.yuyi.servlet.request.RefererServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefererServlet</servlet-name>
    <url-pattern>/referer</url-pattern>
  </servlet-mapping>
</web-app>