<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Httpservletresponse</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HttpServlet01</display-name>
    <servlet-name>HttpServlet01</servlet-name>
    <servlet-class>com.yuyi.servlet.response.HttpServlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServlet01</servlet-name>
    <url-pattern>/yuyi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Httpservlet02</display-name>
    <servlet-name>Httpservlet02</servlet-name>
    <servlet-class>com.yuyi.servlet.response.Httpservlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Httpservlet02</servlet-name>
    <url-pattern>/Httpservlet02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.yuyi.servlet.response.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet02</display-name>
    <servlet-name>DownloadServlet02</servlet-name>
    <servlet-class>com.yuyi.servlet.response.DownloadServlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet02</servlet-name>
    <url-pattern>/picture</url-pattern>
  </servlet-mapping>
</web-app>